body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #d80;
    color: #fff;
}
div,header,nav,h1,h2,p,img{
    box-sizing: border-box;
}

/*HEADER SECTION*/

.header{
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url("fondo.jpg");
    display: flex;
    background-size: cover;
}
.header__overlay{
    height: 100vh;
    width: 100%;
    background: linear-gradient(transparent, #d80);
    position: absolute;
}
.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
    margin-top: 50px;
}
.header__img{
    box-shadow: 0 0 40px 10px #000;
    border-radius: 50%;
    min-width: 200px;
    max-width: 60%;
    margin: 30px;

}
.header__item-container p{
    text-wrap: pretty;
}

h1{
    margin: 0;
    font-size: 3.6rem;
    text-wrap: balance;
}

/*NAVAR SECTION*/
.nav{
    
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6px 20px;
    position:sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 25px #0006;
}
.nav__ul{
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav__item{
    list-style: none;
}
.list__item-container{
    flex-grow: 4;
}
.list__item-container, .nav__logo--container{
    flex-grow: 1;
    text-align: center;
}
.nav__link{
    color:#d80;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 0;
    transition: background-color 0.3s, border-radius 0.24s, outline 0.3s, outline-offset 0.3s;
    margin: 2px;
    outline: 0;
    outline-offset: 0;
}
.link--login{
    background-color: #d80;
    color: #fff;
    padding: 8px 24px;
    border-radius: 20px;
    margin-left: 6px ;
}
.link--login:hover{
    color:#d80;
    outline: 2px solid #d80;
    outline: none;
}
.nav__logo{
    width: 100px;
    
}
.nav__link:hover{
    background-color: #d805;
    border-radius: 20px;
    outline: 2px solid #d80;
    outline-offset: -7px;
}

/*MAIN SECTION*/
main{
    max-width: 1000px;
    margin: auto;
    text-align: justify;
    font-size: 30px;
    text-wrap: pretty;
}